@import './vars';

@for $i from 0 through 16  {
  $spaceInPx: #{$i * $base-space}px;

  .pl-#{$i} {
    padding-left: $spaceInPx !important;
  }
  .pr-#{$i} {
    padding-right: $spaceInPx !important;
  }
  .pb-#{$i} {
    padding-bottom: $spaceInPx !important;
  }
  .pt-#{$i} {
    padding-top: $spaceInPx !important;
  }
  .px-#{$i} {
    padding-left: $spaceInPx !important;
    padding-right: $spaceInPx !important;
  }
  .py-#{$i} {
    padding-top: $spaceInPx !important;
    padding-bottom: $spaceInPx !important;
  }
  .p-#{$i} {
    padding: $spaceInPx !important;
  }
  .ml-#{$i} {
    margin-left: $spaceInPx !important;
  }
  .mr-#{$i} {
    margin-right: $spaceInPx !important;
  }
  .mb-#{$i} {
    margin-bottom: $spaceInPx !important;
  }
  .mt-#{$i} {
    margin-top: $spaceInPx !important;
  }
  .mx-#{$i} {
    margin-left: $spaceInPx !important;
    margin-right: $spaceInPx !important;
  }
  .my-#{$i} {
    margin-top: $spaceInPx !important;
    margin-bottom: $spaceInPx !important;
  }
  .m-#{$i} {
    margin: $spaceInPx !important;
  }
  .space-x-#{$i} {
    & > *:not(:last-child) {
      margin-right: $spaceInPx;
    }
  }
  .space-y-#{$i} {
    & > *:not(:last-child) {
      margin-bottom: $spaceInPx;
    }
  }
}

.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.m-auto {
  margin: auto !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
